.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: fixed;
    z-index: 50;
    right: 4rem;
  }
  
  .svgIcon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .toggleContainer {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  
  .toggleCheckbox {
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    border: 4px solid transparent;
    appearance: none;
    cursor: pointer;
  }
  
  .toggleLabel {
    display: block;
    overflow: hidden;
    height: 1.5rem; 
    border-radius: 50%;
    background-color: #d1d5db;
    cursor: pointer;
  }
  