body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.light {
  background-color: #ffffff;
  color: #303640;
}
